/* tables still need 'cellspacing="0"' in the markup */
/* ------------------------------------ *
 * --- reset -------------------------- *
 * ------------------------------------ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
ins,
del,
a {
  text-decoration: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ------------------------------------ *
 * --- basics ------------------------- *
 * ------------------------------------ */
html {
  background: url("../images/typo_bg.jpg") no-repeat center center #aaaaaa;
  background-attachment: fixed;
  background-size: cover;
}
html.oldie {
  background-color: #000;
  background-image: url("../images/go_dark.jpg");
  height: 100%;
  width: 100%;
}
body {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding-left: 180px;
  width: 1020px;
}
.oldie body {
  height: 60%;
  padding: 20px;
  width: 60%;
}
.go-black-4-ie {
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto;
  padding: 20px;
  width: 500px;
}
.go-black-4-ie strong {
  color: #da1;
}
header {
  background: #444;
  box-shadow: 0 -5px 10px 7px #000000;
  height: 50px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}
section {
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 30px;
  line-height: 35px;
  margin: 0 auto 20px;
  overflow: hidden;
  padding: 20px;
  width: 980px;
}
section span {
  background-color: rgba(2, 2, 2, 0.9);
  display: block;
  float: left;
  height: 35px;
  margin: 0 3px 6px;
  padding: 3px;
  text-align: center;
  width: 30px;
}
section .current {
  background-color: rgba(200, 170, 25, 0.9);
  font-size: 38px;
  font-weight: 700;
  height: 47px;
  line-height: 47px;
  margin: -6px 0 0;
  width: 36px;
}
section .err {
  background-color: rgba(244, 20, 1, 0.8);
  -webkit-box-shadow: 0px 0px 20px 10px #dd1100;
  -moz-box-shadow: 0px 0px 20px 10px #dd1100;
  box-shadow: 0px 0px 20px 10px #dd1100;
  position: relative;
  z-index: 10;
}
section h2,
section ol {
  color: #000;
}
section h2 {
  font-size: 16px;
}
section ol li {
  font-size: 10px;
  line-height: 12px;
}
footer {
  background: #444;
  box-shadow: 0 5px 10px 9px #000;
  height: 50px;
  left: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 30;
}
.typo-container {
  margin-top: 50px;
}
.letters strong {
  display: block;
  float: left;
}
.settings-panel {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50px;
  z-index: 20;
}
.settings-panel section {
  background-color: rgba(111, 111, 111, 0.9);
  min-height: 210px;
  position: relative;
}
.settings-panel section span {
  background-color: rgba(22, 22, 22, 0.7);
}
.settings-panel ul {
  width: 182px;
}
.settings-panel ul li {
  background-color: #000;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 20px;
  height: 25px;
  line-height: 25px;
  margin: 1px 0 0 1px;
  padding: 3px 10px;
  text-align: center;
  width: 70px;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.settings-panel ul li:hover {
  background-color: #da1;
}
.settings-panel ul .both {
  width: 161px;
}
.settings-panel .select-typo {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.settings-panel .select-type {
  position: absolute;
  right: 20px;
  top: 75px;
}
.settings-panel .signs-count {
  background-color: #000;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 31px;
  margin: 0;
  outline: none;
  padding: 0 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
  width: 160px;
}
.settings-panel .selected {
  background-color: #da1;
}
.settings-panel .line {
  clear: both;
  cursor: pointer;
  float: left;
  padding: 0 80px 0 0;
}
.settings-panel .line span {
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.settings-panel .line.ac span {
  background-color: rgba(2, 2, 2, 0.9);
}
.settings-panel .line.ac .selected {
  background-color: #DA1;
}
.settings-panel .line + .line {
  padding: 0 60px 0 20px;
}
.settings-panel .line + .line + .line {
  padding: 0 40px 0 40px;
}
img {
  background-image: url("../images/sprite.png");
  cursor: pointer;
  display: block;
  opacity: 0.4;
  -moz-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
img:hover {
  opacity: 0.8;
}
img.rebuild {
  background-position: -103px -88px;
  height: 92px;
  left: 26px;
  position: fixed;
  top: 76px;
  width: 93px;
}
img.refresh {
  background-position: -98px 0px;
  height: 88px;
  left: 26px;
  position: fixed;
  top: 220px;
  width: 91px;
}
img.go {
  background-position: 0 0;
  margin-right: -460px;
  height: 97px;
  position: absolute;
  right: 50%;
  top: 270px;
  width: 98px;
}
img.go-back {
  background-position: 0px -97px;
  height: 97px;
  left: 50%;
  margin-left: -460px;
  position: absolute;
  top: 270px;
  width: 103px;
}
textarea {
  color: #313131;
}
/* end of CSS */
