
@import "lib";
/* ------------------------------------ *
 * --- reset -------------------------- *
 * ------------------------------------ */
@import "reset"; 
/* ------------------------------------ *
 * --- basics ------------------------- *
 * ------------------------------------ */

html {
	background: url("../images/typo_bg.jpg") no-repeat center center #aaaaaa;
	background-attachment: fixed;
	background-size: cover;
}

body {
	
	color: #fff;
	
	font-family: Arial, Helvetica, sans-serif;
	
}

section {
	
	background-color: rgba( 111, 111, 111, 0.9);
	 
	font-size: 30px;
	
	line-height: 35px;
	
	margin: 0 auto 20px;
	
	overflow: hidden;
	
	padding: 20px;
	
	width: 980px;
	
	span {
		
		background-color: rgba( 2, 2, 2, 0.9);
		
		display: block;
		
		float: left;
		
		height: 35px;
		
		margin: 0 3px 6px;
		
		padding: 3px;
		
		text-align: center;
		
		width: 30px;
		
	}
	
	.current {
		
		background-color: rgba( 200, 170, 25, 0.9);
		
		font-size: 38px;
		
		font-weight: 700;
		
		height: 47px;
		
		line-height: 47px;
		
		margin: -6px 0 0;
		
		width: 36px;
		
	}
	
	.err {
		
		background-color: rgba( 244, 20, 1, 0.8);
		
		.box-shadow( 0px 0px 20px 10px #d10 );
		
		position: relative;
		
		z-index: 10;
		
	}
	
	p li {
		font-size: 16px;
	}
}



/* ------------------------------------ *
 * --- header ------------------------- *
 * ------------------------------------ */


/* ------------------------------------ *
 * --- nav ---------------------------- *
 * ------------------------------------ */



/* ------------------------------------ *
 * --- section ------------------------ *
 * ------------------------------------ */



/* ------------------------------------ *
 * --- footer ------------------------- *
 * ------------------------------------ */
 




/* end of CSS */













