
@import "lib";
/* ------------------------------------ *
 * --- reset -------------------------- *
 * ------------------------------------ */
@import "reset"; 
/* ------------------------------------ *
 * --- basics ------------------------- *
 * ------------------------------------ */

html {
	
	background: url("../images/typo_bg.jpg") no-repeat center center #aaaaaa;
	
	background-attachment: fixed;
	
	background-size: cover;
	
	&.oldie {
		
		background-color: #000;
		
		background-image: url("../images/go_dark.jpg");
		
		height: 100%;
		
		width: 100%;
	}
}

body { 
	
	color: #fff;
	
	font-family: Arial, Helvetica, sans-serif;
	
	margin: 0 auto;
	
	padding-left: 180px;
	
	width: 1020px;
	
	.oldie & {
		
		height: 60%;
		
		padding: 20px;
		
		width: 60%;
		
	}
}


.go-black-4-ie {
	
	font-size: 20px;
	
	line-height: 30px;
	
	margin: 0 auto;
	
	padding: 20px;
	
	width: 500px;
	
	strong {
		color: #da1;
	}
}

section {
	
	background-color: rgba(255, 255, 255, 0.4);
	 
	font-size: 30px;
	
	line-height: 35px;
	
	margin: 0 auto 20px;
	
	overflow: hidden;
	
	padding: 20px;
	
	width: 980px;
	
	span {
		
		background-color: rgba( 2, 2, 2, 0.9);
		
		display: block;
		
		float: left;
		
		height: 35px;
		
		margin: 0 3px 6px;
		
		padding: 3px;
		
		text-align: center;
		
		width: 30px;
		
	}
	
	.current {
		
		background-color: rgba( 200, 170, 25, 0.9);
		
		font-size: 38px;
		
		font-weight: 700;
		
		height: 47px;
		
		line-height: 47px;
		
		margin: -6px 0 0;
		
		width: 36px;
		
	}
	
	.err {
		
		background-color: rgba( 244, 20, 1, 0.8);
		
		.box-shadow( 0px 0px 20px 10px #d10 );
		
		position: relative;
		
		z-index: 10;
		
	}
	
	h2, ol {
		
		color: #000;
		
	}
	
	h2 {
		
		font-size: 16px;
		
	}
	
	ol li {
		
		font-size: 10px;
		
		line-height: 12px;
		
	}
}

.letters {
	
	strong {
		
		display: block;
		
		float: left;
		
	}

}

.settings-panel {
	
	background-color: rgba( 255, 255, 255, 0.7);
	
	margin: 0;
	
	padding: 0;
	
	position: fixed;
		bottom:0;left:0;right:0;top:0;
		
	z-index: 20;
	
	
	section {
		background-color: rgba( 111, 111, 111, 0.9);
		
		min-height: 210px;
		position: relative;
		
		span {
			background-color: rgba( 22, 22, 22, 0.7);
		}
		
	}
	
	ul {
		
		width: 182px;	
		
		
		li {
			
			background-color: #000;
			
			cursor: pointer;
			
			display: block;
			
			float: left;
			
			font-size: 20px;
			
			height: 25px;
			
			line-height: 25px;
			
			margin: 1px 0 0 1px;
			
			padding: 3px 10px;
			
			text-align: center;
			
			width: 70px;
			
			-moz-transition: all 0.2s linear;
			-webkit-transition: all 0.2s linear;
			-o-transition: all 0.2s linear;
			transition: all 0.2s linear;	
			
			&:hover {
				
				background-color: #da1;
				
			}
		}
		
		.both {
			width: 161px;
		}
		
	}
	
	.select-typo {
		position: absolute; right:20px;bottom:20px;
	}
	
	.select-type {
		position: absolute; right:20px;top:75px;
	}
	
	.signs-count {
		
		background-color: #000;
		
		border: 0;
		
		color: #fff;
		
		font-size: 20px;
		
		line-height: 31px;
		
		margin: 0;
		
		outline: none;
		
		padding: 0 10px;
		
		position: absolute;
			top: 20px;
			right: 20px;
		
		text-align: center;
		
		width: 160px;
	}

	.selected {
		
		background-color: #da1;
		
	}
	
	.line {
		
		clear: both;
		
		cursor: pointer;
		
		float: left;
		
		padding: 0 80px 0 0;
		
		span {
			
			-moz-transition: all 0.2s linear;
			-webkit-transition: all 0.2s linear;
			-o-transition: all 0.2s linear;
			transition: all 0.2s linear;
			
		}
		
		&.ac {
			span {
				background-color: rgba(2, 2, 2, 0.9);
			}
			.selected {
				background-color: #DA1;
			}
		}
		
	}
	.line + .line {
		padding: 0 60px 0 20px;
	}
	.line + .line + .line {
		padding: 0 40px 0 40px;
	}
	
}

img {
	
	cursor: pointer;
	
	display: block;
	
	opacity: 0.4;
	
	-moz-transition: opacity 0.2s linear;
	-webkit-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	
	&:hover {
		opacity: 0.8;
	}
	
	&.rebuild {
		
		position:fixed;top:26px;left:26px;
		
	}
	
	&.refresh {
		
		position:fixed;top:170px;left:26px;
		
	}
	&.go {
		
		margin-right: -460px;
		
		position: absolute;
		
		top: 270px;
		
		right: 50%;
		
	}
	
	&.go-back {
		
		margin-left: -460px;
		
		position: absolute;
		
		top: 270px;
		
		left: 50%;
		
	}
}

textarea {
	color: darken( desaturate( #7a9e44, 50% ), 25%);
}

/* end of CSS */
 
